@foreach ($events as $allEventData)
                <div class="col-sm-6">
                  <div class="card" style="background-color: #f1c40f;">
                    <div class="card-body">
                      <h5 class="card-title">{{$allEventData->event_name}}</h5>
                      <p class="card-text">{{$allEventData->event_date}}</p>
                      <p class="card-text">{{$allEventData->cost}} Tk</p>
                      <a href="{{ route('tour.event.details',$allEventData->slug) }}"
                        class="btn btn-success">See details</a>
                    </div>
                  </div>
              </div>
              @endforeach